# User-specific & local secret configuration files
appsettings.Development.json
appsettings.Local.json
*.env
bus_db_backup.sql

# .NET Build artifacts & binary outputs
bin/
obj/
.vs/
.vscode/

# System & OS files
.DS_Store
Thumbs.db